<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Edit Employee</title>
</head>
<body>
	<div align="center">
		<h1>Edit Employee</h1>
		<br />
		<form action="#" th:action="@{/save}" th:object="${employee}"
			method="post">
			<table border="0">
				<tr>
					<td>Employee ID:</td>
					<td><input type="text" th:field="*{eid}" readonly="readonly" />
					</td>
				</tr>
				<tr>
					<td>First Name:</td>
					<td><input type="text" th:field="*{fname}" /></td>
				</tr>
				<tr>
					<td>Last Name:</td>
					<td><input type="text" th:field="*{lname}" /></td>
				</tr>
				<tr>
					<td>Email:</td>
					<td><input type="text" th:field="*{email}" /></td>
				</tr>
				<tr>
					<td colspan="2"><button type="submit">Save</button></td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>